body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3aafa9;
  font-family: "Open Sans", sans-serif;
}

button {
border: none;
box-shadow: 1px 1px 2px black;
border-radius: 3px;
}

button:hover {
  opacity: 0.7;
  cursor: pointer;
}

button:active {
  opacity: 0.5;
}

.button-form {
  height: 40px;
  width: 250px;
  font-size: 20px;
  margin-top: 10px;
}

.container {
  display: inline-block;
  align-items: center;
  background-color: #def2f1;
  width: 620px;
  padding: 30px 60px;
  border-radius: 20px;
  margin: 100px 0px;
}
h2 {
  color: #17252a;
  font-family: "Poppins", sans-serif;
  font-size: 60px;
}
.a {
  color: #17252a;
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  text-decoration: none;
}

label, input {
  display: block;
}

input{
  block-size: 30px;
  width: 500px;
  margin-bottom: 20px;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 1px gray;
  height: 30px;
}

label{
  font-size: 25px;
  padding-bottom: 18px; 
}

.card {
  display: flex;
  flex-direction: row;
  margin: 50px 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
}

.card > button {
  width: 20px;
  height: 20px;
}

.card-container {
  flex: 1;
}

.card-pic {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin-right: 20px;
}


/* kata-kata */
.words{
  font-size: 40px;
  text-align: center;
  font-family: "Alegreya", serif; 
  margin: 150px 20px;
}

/* picture */
.grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-right: 300px;
  align-items: center;
  grid-gap: 20px;
  padding: 50px 0px;
}

img{
  object-fit: cover;
}

.grid > article{
  box-shadow: 5px 5px 5px 0px black;
  border-radius: 20px;
  text-align: center;
  background: #b2c2bf;
  transition: transform;
}
.grid > article img{
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.grid > article:hover{
  transform: rotate(10deg);
}

#to-user:hover {
  opacity: 0.8;
}
#to-helper:hover {
  opacity: 0.8;
}
#to-user:active {
  opacity: 0.6;
}
#to-helper:active {
  opacity: 0.6;
}

.footer > p {
  font-size: 30px;
  text-align: center;
  font-family: "Alegreya", serif; 
}
.footer {
  margin: 240px 40px 200px 40px;
}