body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c0ded9;
}

.konten h2{
  color: whitesmoke;
}

#user-form h2{
  color: cyan;
  font-size: 50px;
  font-family: "Fjalla One", sans-serif;
}

h2 {
  color: cyan;
  font-size:50px;
  font-family: "Fjalla One", sans-serif;
}

label{
  font-size: 25px;
  padding-bottom: 18px; 
}

#helper-form{
  color: cyan;
}

#helper-form h2{
  color: cyan;
  font-size: 50px;
  font-family: "Fjalla One", sans-serif;
}

#helper-container h2{
  color: cyan;
}

.helper-form-label{
  color: whitesmoke;
}

#helper-name-input{
  block-size: 30px;
  width: 400px;
  margin-bottom: 20px;
}

#helper-telp-input{
  block-size: 30px;
  width: 400px;
  margin-bottom: 20px;
}

#helper-area-input{
  block-size: 30px;
  width: 400px;
  margin-bottom: 20px;
}

#helper-desc-input{
  block-size: 30px;
  width: 400px;
  margin-bottom: 20px;
}

.user-form-input{
  color: whitesmoke;
}

#user-name-input{
  block-size: 30px;
  width: 400px;
  margin-bottom: 20px;
}

#user-area-input{
  block-size: 30px;
  width: 400px;
  margin-bottom: 20px;
}

#enter-button{
  block-size: 40px;
  width: 100px;
}

#submit-button{
  block-size: 40px;
  width: 100px;
}

#near-you-card{
  color: whitesmoke;
}

#helper-card{
  color: whitesmoke;
}

.grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-right: 300px;
  align-items: center;
  grid-gap: 20px;
}

img{
  object-fit: cover;
}

.grid > article{
  box-shadow: 5px 5px 5px 0px black;
  border-radius: 20px;
  text-align: center;
  background: #b2c2bf;
  transition: transform;
}
.grid > article img{
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.grid > article:hover{
  transform: rotate(10deg);
}

.items {
  display: inline-block;
  align-items: center;
  background-color: #3b3a30;
  width: 620px;
  padding: 30px 60px;
  border-radius: 20px;
  margin: 40px 0px 400px 0px;
}

.main {
  display: inline-block;
  align-items: center;
  background-color: #3b3a30;
  width: 800px;
  padding: 30px 60px;
  border-radius: 20px;
  margin: 40px 0px 400px 0px;
}

.formHelper {
  display: inline-block;
  align-items: center;
  background-color: #3b3a30;
  width: 800px;
  padding: 30px 60px;
  border-radius: 20px;
  margin: 40px 0px 400px 0px;
}

label, input {
  display: block;
}

/* .hidden {
  display: none;
} */

